<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>@ViewBag.Title - Crud Application</title>

    <link href="~/Content/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Content/css/fonts-googleapis.css" rel="stylesheet" />
    <link href="~/Content/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Content/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <link href="~/Content/css/main.css" rel="stylesheet" media="all">
</head>
<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        
        <div class="container body-content">
            @RenderBody()
            <br />
            <footer>
                <p>&copy; @DateTime.Now.Year Swapnil's Application</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/select2/select2.min.js"></script>
    <script src="~/Content/vendor/datepicker/moment.min.js"></script>
    <script src="~/Content/vendor/datepicker/daterangepicker.js"></script>
    <script src="~/Content/js/global.js"></script>

</body>
</html>
