@model Crud_App_MVC.Models.DataModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2>Delete</h2>
            <hr /><br />
            <h3>Are you sure you want to delete this?</h3>
            <br />
            <h4>Employee</h4>
            <br />
            <div class="row row-space">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.emp_name)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(model => model.emp_name)
                </div>
            </div>
            <br />
            <div class="row row-space">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.gender)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(model => model.gender)
                </div>
            </div>
            <br />
            <div class="row row-space">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.is_fulltime)
                </div>
                <div class="col-2">
                    @if (Model.is_fulltime == true)
                    {
                        <label>Yes</label>
                    }
                    else
                    {
                        <label>No</label>
                    }
                </div>
            </div>
            <br />
            <div class="row row-space">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.address)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(model => model.address)
                </div>
            </div>
            <br />
            <div class="row row-space">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.city)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(model => model.city)
                </div>
            </div>
            <br />
            <div class="row row-space">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.statename)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(model => model.statename)
                </div>
            </div>
            <br />
            <div class="row row-space">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.countryname)
                </div>
                <div class="col-2">
                    @Html.DisplayFor(model => model.countryname)
                </div>
            </div>
            <br />
            <div class="row row-space">
                <div class="col-2">
                    @Html.DisplayNameFor(model => model.image_path)
                </div>
                <div class="col-2">
                    <img src="@Url.Content("~/Images/")@Model.image_path" alt="Profile Image" height="100px" width="200px  />
                </div>
            </div>
            <div class="row row-space">
            </div>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="p-t-15">
                    <input type="submit" value="Delete" id="btn_delete" class="btn btn--radius-2 btn--blue" />
                </div>
                <br />
                <div class="form-actions no-color">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
            
        </div>
    </div>
</div>
