@model Crud_App_MVC.Models.Emp

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper wrapper--w680">
    <div class="card card-4">
        <div class="card-body">
            <h2>Edit</h2>
            <hr /><br />
            @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.emp_id)
                @Html.HiddenFor(model => model.image_path)

                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            @Html.LabelFor(model => model.emp_name, htmlAttributes: new { @class = "label" })
                            @Html.EditorFor(model => model.emp_name, new { htmlAttributes = new { @class = "input--style-4" } })
                            @Html.ValidationMessageFor(model => model.emp_name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-2">

                    </div>
                </div>

                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            @Html.LabelFor(model => model.gender, htmlAttributes: new { @class = "label" })
                            <div class="p-t-10">
                                <label class="radio-container m-r-45">
                                    Male
                                    @Html.RadioButtonFor(model => model.gender, "Male")
                                    <span class="checkmark"></span>
                                </label>

                                <label class="radio-container m-r-45">
                                    Female
                                    @Html.RadioButtonFor(model => model.gender, "Female")
                                    <span class="checkmark"></span>
                                </label>
                                @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            @Html.LabelFor(model => model.is_fulltime, htmlAttributes: new { @class = "label" })
                            
                                @Html.CheckBoxFor(model => model.is_fulltime, new {style ="height:30px; width:30px;"})
                                <label>(Tick if Yes)</label>
                            
                            @Html.ValidationMessageFor(model => model.is_fulltime, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "label" })
                            <div class="rs-select2 js-select-simple select--no-search">
                                @Html.DropDownListFor(model => model.country, ViewBag.CountryList as SelectList, "--Select Country--")
                                @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="input-group">
                            @Html.LabelFor(model => model.state, htmlAttributes: new { @class = "label" })
                            <div class="rs-select2 js-select-simple select--no-search">
                                @Html.DropDownListFor(model => model.state, ViewBag.StateList as SelectList, "--Select State--", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })
                                <div class="select-dropdown"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row row-space">
                    <div class="col-2">
                        <div class="input-group">
                            @Html.LabelFor(model => model.city, htmlAttributes: new { @class = "label" })
                            @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "input--style-4" } })
                            @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="col-2">
                        <div class="input-group">
                            @Html.LabelFor(model => model.address, htmlAttributes: new { @class = "label" })
                            @Html.TextAreaFor(model => model.address, new { style = "width: 100%; height:50px; background-color:#fafafa;" })
                            @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row row-space">
                    <div class="col-2">
                        <img src="@Url.Content("~/Images/")@Model.image_path" alt="Profile Image" height="100px" width="200px" />
                    </div>
                    <div class="col-2">
                        <div class="input-group">
                            @Html.LabelFor(model => model.image_path, htmlAttributes: new { @class = "label" })
                            <input type="file" name="image" id="fu_image" />
                            @Html.ValidationMessageFor(model => model.image_path, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="p-t-15">
                    <input type="submit" value="Update" id="btn_update" class="btn btn--radius-2 btn--blue" />
                </div>

            }
            <br />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#country").change(function () {
            var countryId = $(this).val();
            $.ajax({
                type: "post",
                url: "/Home/GetStateList?c_id=" + countryId,
                contentType: "html",
                dataType: "json",
                success: function (response) {
                    $("#state").empty();
                    $.each(response, function () {
                        $("#state").append($("<option></option>").val(this.state_id).html(this.state_name));
                    });
                }
            })
        })
    })
</script>
